<div style="font-family:arial,helvetica;font-size:12px;color:#333333;">
	<h3>Hola <!--!Name!--></h3>
	<p>Hay un nuevo comentario en el comunicado <a href="<!--!Url!-->"><!--!EntryTitle!--></a>.</p>
	<p>Para ver el comentario haz clic en el siguiente dirección: <a href="<!--!Url!-->"><!--!Url!--></a>.</p>
	<br />
	<p>
		Saludos,<br />
		El equipo prsync.
	</p>
	<br />
	<hr />
	<p><em>Si no quieres recibir mas mensajes de este comunicado, solo haz clic en el siguiente direccion: <a href="<!--!UnsubscribeUrl!-->"><!--!UnsubscribeUrl!--></a></em></p>
</div>
