<?xml version="1.0" encoding="utf-8" ?>
<FeedClientConfiguration>
	<Proxy UseProxy="false"></Proxy>
	<AcceptLanguage>en-US</AcceptLanguage>
	<UserAgent>Companyfeeds FeedClient</UserAgent>
	<DefaultTeaser>{0} press release - {1}</DefaultTeaser>
	<WaitSeconds>0</WaitSeconds>
	<Hours>
		<int>10</int>
	</Hours>
</FeedClientConfiguration>