<?xml version="1.0"?>
<RedirectorConfiguration>
	<IgnoreRegex>(.*(\.css|\.txt|\.js|\.gif|\.jpg|\.png))|(^http://[^/]+/\d+$)</IgnoreRegex>
	<UrlGroups>
		<RedirectorUrlGroup Regex="^https?://www.prsync.com/.*$">
			<Urls>
				<RedirectorUrl Regex="^https?://www.prsync.com(.*)$" Replacement="http://prsync.com$1" />
			</Urls>
		</RedirectorUrlGroup>
		<!-- Trailing slash -->
		<RedirectorUrlGroup Regex="http://[^/]+/[a-z-0-9/]+[^/]$">
			<Urls>
				<RedirectorUrl Regex="http://[^/]+(/[a-z-0-9/]+[^/])$" Replacement="$1/" />
			</Urls>
		</RedirectorUrlGroup>
    <RedirectorUrlGroup Regex="/rss">
      <Urls>
        <RedirectorUrl Regex="http://[^/]+/rss/?$" Replacement="http://feeds2.feedburner.com/prsync" HeaderRegex="User-Agent=(?!FeedBurner).+" />
      </Urls>
    </RedirectorUrlGroup>
	  <RedirectorUrlGroup Regex="/archives">
	    <Urls>
	      <!-- Anything containing /archives/ must be added before the empty -->
	      <RedirectorUrl Regex="http://[^/]+/archives/.*$" Replacement="http://prsync.com/" />
        
        <RedirectorUrl Regex="http://[^/]+/archives$" Replacement="http://prsync.com/" />
	    </Urls>
	  </RedirectorUrlGroup>
	</UrlGroups>
</RedirectorConfiguration>