<?xml version="1.0"?>
<RouteMappingConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Routes>
		<RouteItem Url="" Controller="Home" Action="Index">
			<Defaults>
				<item>
					<key>page</key>
					<value>0</value>
				</item>
				<item>
					<key>type</key>
					<value>Xhtml</value>
				</item>
			</Defaults>
		</RouteItem>
		<RouteItem Url="page/{page}" Controller="Home" Action="Index">
			<Constraints>
				<item>
					<key>page</key>
					<value>[\d]+</value>
				</item>
			</Constraints>
			<Defaults>
				<item>
					<key>type</key>
					<value>Xhtml</value>
				</item>
			</Defaults>
		</RouteItem>
		<RouteItem Url="rss/" Controller="Home" Action="Index">
			<Defaults>
				<item>
					<key>page</key>
					<value>0</value>
				</item>
				<item>
					<key>type</key>
					<value>Rss</value>
				</item>
			</Defaults>
		</RouteItem>
		<RouteItem Url="register/" Controller="Users" Action="Edit">
			<Defaults>
				<item>
					<key>id</key>
					<value>0</value>
				</item>
			</Defaults>
		</RouteItem>
		<RouteItem Url="user/{id}/edit/" Controller="Users" Action="Edit">
			<Constraints>
				<item>
					<key>id</key>
					<value>[\d]+</value>
				</item>
			</Constraints>
		</RouteItem>
		<RouteItem Url="about/" Controller="Home" Action="About" />
		<RouteItem Url="premium-wall/" Controller="Accounts" Action="PremiumWall" />
		<RouteItem Url="premium/" Controller="Accounts" Action="Premium" />
		<RouteItem Url="premium/payment-done" Controller="Accounts" Action="PaymentDone" />
		<RouteItem Url="premium/notification" Controller="Accounts" Action="PaymentNotification" />
		<RouteItem Url="error/" Controller="Home" Action="Error" />
		<RouteItem Url="terms/" Controller="Home" Action="Terms" />
		<RouteItem Url="search/" Controller="Home" Action="SearchResults" />
		<RouteItem Url="latest/{page}/" Controller="Home" Action="Latest">
			<Defaults>
				<item>
					<key>page</key>
					<value>0</value>
				</item>
				<item>
					<key>type</key>
					<value>Xhtml</value>
				</item>
			</Defaults>
			<Constraints>
				<item>
					<key>page</key>
					<value>[\d]+</value>
				</item>
			</Constraints>
		</RouteItem>
		<RouteItem Url="rss/latest" Controller="Home" Action="Latest">
			<Defaults>
				<item>
					<key>page</key>
					<value>0</value>
				</item>
				<item>
					<key>type</key>
					<value>Rss</value>
				</item>
			</Defaults>
		</RouteItem>
		<RouteItem Url="rss/flags/" Controller="Flags" Action="List" />
		<RouteItem Url="commands/cacheclear/" Controller="Commands" Action="CacheClear" />
		<RouteItem Url="commands/cachestatus/" Controller="Commands" Action="CacheStatus" />
		<RouteItem Url="contact/" Controller="Feedback" Action="Contact" />
		<RouteItem Url="premium/contact" Controller="Feedback" Action="ContactPremium" />
		<RouteItem Url="report-bug/" Controller="Feedback" Action="ReportBug" />
		<RouteItem Url="copyright-infringements/" Controller="Feedback" Action="CopyrightInfringements" />
		<RouteItem Url="login/" Controller="Users" Action="Login" />
		<RouteItem Url="logout/" Controller="Users" Action="Logout" />
		<RouteItem Url="user/subscriptions/add/" Controller="Subscriptions" Action="Add" />
		<RouteItem Url="user/subscriptions/remove/" Controller="Subscriptions" Action="Remove" />
		<RouteItem Url="user/subscriptions/" Controller="Subscriptions" Action="List" />
		<RouteItem Url="user/delete/" Controller="Users" Action="Delete" />
		<RouteItem Url="user/validate/" Controller="Users" Action="ValidateEmail" />
		<RouteItem Url="user/validate-by-admin/" Controller="Users" Action="ValidateEmailByAdmin" />
		<RouteItem Url="user/ips/" Controller="Users" Action="IpsUsed" />
		<RouteItem Url="user/activity/" Controller="Users" Action="ActivityByIp" />
		<RouteItem Url="users/" Controller="Users" Action="ListUsersWithEmailNotValidated" />
		<RouteItem Url="user/{id}/" Controller="Users" Action="Detail">
			<Defaults>
				<item>
					<key>type</key>
					<value>Xhtml</value>
				</item>
			</Defaults>
		</RouteItem>
		<RouteItem Url="user/{id}/{type}/" Controller="Users" Action="Detail">
			<Constraints>
				<item>
					<key>type</key>
					<value>Rss</value>
				</item>
				<item>
					<key>id</key>
					<value>\d+</value>
				</item>
			</Constraints>
		</RouteItem>
		<RouteItem Url="archives/" Controller="Archives" Action="ListDates" />
		<RouteItem Url="archives/most-viewed" Controller="Archives" Action="MostViewed">
			<Defaults>
				<item>
					<key>year</key>
					<value>2011</value>
				</item>
			</Defaults>
		</RouteItem>
		<RouteItem Url="archives/{year}-{month}-{day}/" Controller="Archives" Action="Detail">
			<Constraints>
				<item>
					<key>year</key>
					<value>[\d]+</value>
				</item>
				<item>
					<key>month</key>
					<value>[\d]+</value>
				</item>
				<item>
					<key>day</key>
					<value>[\d]+</value>
				</item>
			</Constraints>
		</RouteItem>
		<RouteItem Url="submit-press-release/" Controller="Entries" Action="Add" />
		<RouteItem Url="submit-company/" Controller="Companies" Action="Add" />
		<RouteItem Url="entries/reportabuse/" Controller="Entries" Action="ReportAbuse" />
		<RouteItem Url="entries/delete/" Controller="Entries" Action="Delete" />
		<RouteItem Url="entries/delete-by-user/" Controller="Entries" Action="DeleteByUser" />
		<RouteItem Url="entries/showcontent/" Controller="Entries" Action="ShowContent" />
		<RouteItem Url="admin/rss" Controller="Admin" Action="ListSuspectedRss" />
		<RouteItem Url="admin/" Controller="Admin" Action="Dashboard" />
		<RouteItem Url="admin/extract-links" Controller="Admin" Action="ExtractLinks" />
		<RouteItem Url="admin/add-hosts" Controller="Admin" Action="AddHostsToBlackList" />
		<RouteItem Url="press-releases/{categoryTag}/{page}/" Controller="Categories" Action="Detail">
			<Defaults>
				<item>
					<key>page</key>
					<value>0</value>
				</item>
				<item>
					<key>type</key>
					<value>Xhtml</value>
				</item>
			</Defaults>
			<Constraints>
				<item>
					<key>categoryTag</key>
					<value>[\w-]+</value>
				</item>
				<item>
					<key>page</key>
					<value>\d+</value>
				</item>
			</Constraints>
		</RouteItem>
		<RouteItem Url="{type}/{categoryTag}/{page}" Controller="Categories" Action="Detail">
			<Defaults>
				<item>
					<key>page</key>
					<value>0</value>
				</item>
			</Defaults>
			<Constraints>
				<item>
					<key>categoryTag</key>
					<value>[\w-]+</value>
				</item>
				<item>
					<key>type</key>
					<value>Rss</value>
				</item>
			</Constraints>
		</RouteItem>
		<RouteItem Url="agency/{agencyTag}/" Controller="Agencies" Action="Detail">
			<Constraints>
				<item>
					<key>agencyTag</key>
					<value>[\w-]+</value>
				</item>
			</Constraints>
		</RouteItem>
		<RouteItem Url="agency/{agencyTag}/edit/" Controller="Agencies" Action="Edit">
			<Constraints>
				<item>
					<key>agencyTag</key>
					<value>[\w-]+</value>
				</item>
			</Constraints>
		</RouteItem>
		<RouteItem Url="register-agency/" Controller="Agencies" Action="Edit" />
		<RouteItem Url="agency/" Controller="Agencies" Action="Edit" />
		<RouteItem Url="companies/get/" Controller="Companies" Action="Get" />
		<RouteItem Url="companies/no-relevance/" Controller="Companies" Action="SetNoRelevance" />
		<RouteItem Url="companies/delete/" Controller="Companies" Action="Delete" />
		<RouteItem Url="companies/listnames/" Controller="Companies" Action="ListNames" />
		<RouteItem Url="companies/search/" Controller="Companies" Action="Search" />
		<RouteItem Url="companies/searchexternal/" Controller="Companies" Action="SearchExternal" />
    <RouteItem Url="companies/" Controller="Companies" Action="ListAll" />
    <RouteItem Url="companies/rv/" Controller="Companies" Action="RegisterVisit" />
		<RouteItem Url="comments/add/" Controller="Comments" Action="Add" />
		<RouteItem Url="comments/unsubscribe/" Controller="Comments" Action="Unsubscribe" />
		<RouteItem Url="comments/" Controller="Comments" Action="ListLatest" />
		<RouteItem Url="{id}/" Controller="Entries" Action="GetShortUrl">
			<Constraints>
				<item>
					<key>id</key>
					<value>[\d]+</value>
				</item>
			</Constraints>
		</RouteItem>
		<RouteItem Url="{companyTag}/{tag}-{id}/" Controller="Entries" Action="Detail">
			<Constraints>
				<item>
					<key>companyTag</key>
					<value>[\w-]+</value>
				</item>
				<item>
					<key>tag</key>
					<value>[\w-]+</value>
				</item>
				<item>
					<key>id</key>
					<value>[\d]+</value>
				</item>
			</Constraints>
		</RouteItem>
		<RouteItem Url="{companyTag}/{tag}-{id}/edit/" Controller="Entries" Action="Edit">
			<Constraints>
				<item>
					<key>companyTag</key>
					<value>[\w-]+</value>
				</item>
				<item>
					<key>tag</key>
					<value>[\w-]+</value>
				</item>
				<item>
					<key>id</key>
					<value>[\d]+</value>
				</item>
			</Constraints>
		</RouteItem>
		<RouteItem Url="{companyTag}/{page}/" Controller="Companies" Action="Detail">
			<Defaults>
				<item>
					<key>page</key>
					<value>0</value>
				</item>
			</Defaults>
			<Constraints>
				<item>
					<key>companyTag</key>
					<value>[\w-]+</value>
				</item>
				<item>
					<key>page</key>
					<value>[\d]+</value>
				</item>
			</Constraints>
		</RouteItem>
		<RouteItem Url="{companyTag}/edit/" Controller="Companies" Action="Edit">
			<Constraints>
				<item>
					<key>companyTag</key>
					<value>[\w-]+</value>
				</item>
			</Constraints>
		</RouteItem>
	</Routes>
	<!--
	<IgnoreRoutes>
		<RouteItem Url="{resource}.axd/{*pathInfo}" />
		<RouteItem Url="{*favicon}">
			<Constraints>
				<item>
					<key>favicon</key>
					<value>(.*/)?favicon.ico(/.*)?</value>
				</item>
			</Constraints>
		</RouteItem>
	</IgnoreRoutes>
	-->
</RouteMappingConfiguration>