<?xml version="1.0"?>
<SiteConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IsReadOnly>0</IsReadOnly>
	<CategoryPageSize>30</CategoryPageSize>
	<CompanyDetailPageSize>20</CompanyDetailPageSize>
	<HomePageSize>30</HomePageSize>
	<LatestMax>500</LatestMax>
	<LatestPageSize>50</LatestPageSize>
	<LaunchDate>2009-02-06T00:00:00.0000000-07:00</LaunchDate>
	<SubscriptionHomePageSize>4</SubscriptionHomePageSize>
	<SubscriptionPageSize>15</SubscriptionPageSize>
	<LogoPath>binarycontent\logo-{0}.png</LogoPath>
	<AgencyLogoPath>binarycontent\agencylogo-{0}.png</AgencyLogoPath>
	<LogoMaxWidth>150</LogoMaxWidth>
	<RssBaseTitle>PR sync</RssBaseTitle>
	<AkismetKey>6fdb57fbab0e</AkismetKey>
	<Flood
		MaxEntries="1"
		MaxCompanies="1"
		ShowPaywall="true"
	/>
	<MostViewed>
		<item>
			<key>2011</key> <!-- Edited 2012-05-17 -->
			<value>28512,6879,26842,10136,20706,17357,6916,32135,20952,26858,11987,8341,3557,32134,10173,4074,29525,27775,24078,4490,8790,15307,6692,10701,3202</value>
		</item>
	</MostViewed>
	<Payment
		ServiceUrl="https://www.paypal.com/cgi-bin/webscr"
		Account="jorgebaygondra@gmail.com"
		NotificationUrl="http://prsync.com/premium/notification/"
		PriceYearly="540"
		NameYearly="prsync_com-premium-yearly"
		PriceMonthly="55"
		NameMonthly="prsync_com-premium-monthly"
		Currency="USD"
		/>
	<Mail>
		<SmtpServer>192.96.210.10</SmtpServer>
		<CredentialsUserName>admin@prsync.com</CredentialsUserName>
		<CredentialsPassword>Ch@rly2002</CredentialsPassword>
		<LogMailAddress>jorgebaygondra@gmail.com</LogMailAddress>
		<FeedbackMailAddress>jorgebaygondra@gmail.com</FeedbackMailAddress>
		<AdminMailAddress>admin@prsync.com</AdminMailAddress>
		<AdminMailName>Admin prsync.com</AdminMailName>
		<TemplatesPath>
			<item>
				<key>Welcome</key>
				<value>mail\templates\Welcome.html</value>
			</item>
			<item>
				<key>NewComment</key>
				<value>mail\templates\NewComment.html</value>
			</item>
		</TemplatesPath>
		<Subjects>
			<item>
				<key>Welcome</key>
				<value>Welcome to prsync.com</value>
			</item>
		</Subjects>
	</Mail>
</SiteConfiguration>