<?xml version="1.0" encoding="utf-8" ?>
<FeedClientConfiguration>
	<Proxy UseProxy="true">
		<Address>proxy.spain.conseur.org</Address>
		<Port>3128</Port>
		<Domain>SPAIN</Domain>
		<UserName>JBG</UserName>
		<Password>charly1</Password>
	</Proxy>
	<AcceptLanguage>en-US</AcceptLanguage>
	<UserAgent>Companyfeeds FeedClient</UserAgent>
	<DefaultTeaser>{0} press release - {1}</DefaultTeaser>
	<WaitSeconds>0</WaitSeconds>
	<Hours>
		<int>10</int>
	</Hours>
</FeedClientConfiguration>