<?xml version="1.0"?>
<RouteMappingConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<Routes>
		<RouteItem Url="" Controller="Home" Action="Index">
			<Defaults>
				<item>
					<key>page</key>
					<value>0</value>
				</item>
				<item>
					<key>type</key>
					<value>Xhtml</value>
				</item>
			</Defaults>
		</RouteItem>
	</Routes>
	<!--
	<IgnoreRoutes>
		<RouteItem Url="{resource}.axd/{*pathInfo}" />
	</IgnoreRoutes>
	-->
</RouteMappingConfiguration>