<?xml version="1.0"?>
<SiteConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <IsReadOnly>1</IsReadOnly>
	<CategoryPageSize>10</CategoryPageSize>
	<CompanyDetailPageSize>20</CompanyDetailPageSize>
	<HomePageSize>10</HomePageSize>
	<LatestMax>500</LatestMax>
	<LatestPageSize>40</LatestPageSize>
	<LaunchDate>2008-09-14T00:00:00.0000000+01:00</LaunchDate>
	<SubscriptionHomePageSize>4</SubscriptionHomePageSize>
	<SubscriptionPageSize>15</SubscriptionPageSize>
	<LogoPath>binarycontent\logo-{0}.png</LogoPath>
	<AgencyLogoPath>binarycontent\agencylogo-{0}.png</AgencyLogoPath>
	<LogoMaxWidth>150</LogoMaxWidth>
	<RssBaseTitle>Company feeds</RssBaseTitle>
	<Flood
		MaxEntries="5"
		MaxCompanies="5"
		ShowPaywall="false"
	/>
	<MostViewed>
		<item>
			<key>2011</key>
			<!-- Edited 2012-05-17 -->
			<value>316,13163,1723,5168,10938,8530,6866,3876,4106,6272</value>
		</item>
	</MostViewed>
	<!--<Payment
		ServiceUrl="https://www.paypal.com/cgi-bin/webscr"
		Account="jorgebaygondra@gmail.com"
		NotificationUrl="http://prsync.es/premium/notification/"
		PriceYearly="1"
		NameYearly="prsync_com-premium-yearly"
		PriceMonthly="1"
		NameMonthly="prsync_com-premium-monthly"
		Currency="USD"
		/>-->
	<Payment
		ServiceUrl="https://www.sandbox.paypal.com/cgi-bin/webscr"
		Account="info_1220350160_biz@tagpoint.es"
		NotificationUrl="http://www.tagpoint.es/proyectos/bankadvisor/testipn.aspx"
		PriceYearly="360"
		NameYearly="prsync_es-premium-yearly"
		PriceMonthly="40"
		NameMonthly="prsync_es-premium-monthly"
		Currency="EUR"
		/>
	<Mail>
		<SmtpServer>mailgate.belux.conseur.org</SmtpServer>
		<CredentialsUserName>admin@prsync.com</CredentialsUserName>
		<CredentialsPassword></CredentialsPassword>
		<LogMailAddress>jorgebg@tagpoint.es</LogMailAddress>
		<FeedbackMailAddress>jorgebg@tagpoint.es</FeedbackMailAddress>
		<AdminMailAddress>admin@companyfeeds.com</AdminMailAddress>
		<AdminMailName>Company feeds</AdminMailName>
		<TemplatesPath>
			<item>
				<key>Welcome</key>
				<value>mail\templates\Welcome.html</value>
			</item>
			<item>
				<key>NewComment</key>
				<value>mail\templates\NewComment.html</value>
			</item>
		</TemplatesPath>
		<Subjects>
			<item>
				<key>Welcome</key>
				<value>Welcome to companyfeeds.com</value>
			</item>
		</Subjects>
	</Mail>
</SiteConfiguration>