<?xml version="1.0"?>
<spamPrevention>
	<ipBlackList>
		
	</ipBlackList>
	<hostBlackList>
		<add value="indiamart.com" />
		<add value="bangaloreescort.ucoz.com" />
		<add value="laptop-batterie.com" />
		<add value="anybatteries.com.au" />
		<add value="localescortsservices.com" />
		<add value="battery-notebook.com" />
		<add value="battery-notebook.org" />
		<add value="camcorder-charger.co.uk" />
		<add value="charger-battery.com" />
		<add value="eachdo.com" />
		<add value="vlondonescorts.co.uk" />
		<add value="adultsensations.com" />
		<add value="champagneescorts.com" />
		<add value="laptop-battery-shop.co.nz" />
		<add value="love-battery.com" />
		<add value="battery-laptop.com.au" />
		<add value="annas-angels.co.uk" />
		<add value="medical-marijuana-dispensaries.net" />
		<add value="callyourescort.com" />
		<add value="myescortservice.co.uk" />
		<add value="wholesale-battery.com" />
	</hostBlackList>
</spamPrevention>