<?xml version="1.0"?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
		<add key="Site" value="..\..\CompanyFeeds.Web.UI\Config\Site.Config"/>
		<add key="Feed" value="..\..\CompanyFeeds.Web.UI\Config\Site.Config"/>
		<add key="RouteMapping" value="..\..\CompanyFeeds.Web.UI\Config\RouteMapping.Config"/>
		<add key="FeedClientConfiguration" value="..\..\CompanyFeeds.Web.UI\Config\FeedClient2.config"/>
		<add key="ApplicationRoot" value="..\..\CompanyFeeds.Web.UI\"/>
	</appSettings>

	<connectionStrings>
		<add name="CompanyFeeds.DataAccess.Properties.Settings.CompanyFeedsConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=prsync_com_web;Persist Security Info=True;User ID=sa;Password=12345678" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\temp\mailbox"/>
      </smtp>
<!--      <smtp deliveryMethod="Network">-->
<!--        <network host="smtp.gmail.com" port="587" defaultCredentials="false" userName="admin@prsync.es" password="escarcha1" />-->
<!--      </smtp>-->
		</mailSettings>
	</system.net>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
