USE [master]
GO
/****** Object:  Database [prsync_com_web]    Script Date: 2/20/2017 4:24:22 PM ******/
CREATE DATABASE [prsync_com_web] ON  PRIMARY 
( NAME = N'CompanyFeeds', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\prsync_com_web.mdf' , SIZE = 9956736KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CompanyFeeds_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\prsync_com_web_log.ldf' , SIZE = 27360128KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [prsync_com_web].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [prsync_com_web]
GO
/****** Object:  User [prsync_com_web]    Script Date: 2/20/2017 4:24:24 PM ******/
CREATE USER [prsync_com_web] FOR LOGIN [prsync_com_web] WITH DEFAULT_SCHEMA=[dbo]
GO
sys.sp_addrolemember @rolename = N'db_owner', @membername = N'prsync_com_web'
GO
/****** Object:  UserDefinedFunction [dbo].[FXEntryIdRecent]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FXEntryIdRecent]
(
	
)
RETURNS int
AS
BEGIN
	DECLARE @Result int

	SELECT @Result = ISNULL(MAX(EntryId), 0) - 30000 FROM Entries

	RETURN @Result

END


GO
/****** Object:  UserDefinedFunction [dbo].[FXRelevance]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[FXRelevance]
(
	@EntryDate datetime
	,@CompanyVisits int
)
RETURNS float
AS
BEGIN
	DECLARE @MinVisits int, @Return float
	SET @MinVisits = 3000
	IF @CompanyVisits > @MinVisits
	BEGIN
		IF @EntryDate > GETDATE()
			SET @EntryDate = GETDATE()
		IF @CompanyVisits < 0
			SET @CompanyVisits = 0

		DECLARE @R2 float
		SET @R2 = LOG10(DATEDIFF(hour, @EntryDate, GETDATE())/12.00+2)
			
		SET @Return = LOG (@CompanyVisits+1) / @R2
	END
	ELSE
	BEGIN
		SET @Return = 0.0
	END
	RETURN @Return
END


GO
/****** Object:  Table [dbo].[Agencies]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Agencies](
	[AgencyId] [int] IDENTITY(1,1) NOT NULL,
	[AgencyName] [varchar](100) NOT NULL,
	[AgencyTag] [varchar](50) NOT NULL,
	[AgencyDescription] [varchar](max) NOT NULL,
	[AgencyUrl] [varchar](128) NULL,
	[AgencyEmail] [varchar](100) NULL,
	[AgencyPhone] [varchar](30) NULL,
	[AgencyLogo] [varchar](4) NULL,
	[AgencyPremiumDate] [datetime] NULL,
	[AgencyPaymentStatus] [smallint] NULL,
	[AgencyPayerEmail] [varchar](1024) NULL,
	[AgencySubscriptionId] [varchar](19) NULL,
	[AgencyHideAuthor] [bit] NOT NULL,
 CONSTRAINT [PK_Agencies] PRIMARY KEY CLUSTERED 
(
	[AgencyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryId] [int] NOT NULL,
	[CategoryName] [varchar](100) NOT NULL,
	[CategoryTag] [varchar](50) NOT NULL,
	[CategoryDescription] [varchar](max) NOT NULL,
	[CategoryOrder] [smallint] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Companies]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Companies](
	[CompanyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyTag] [varchar](50) NOT NULL,
	[CompanyName] [varchar](100) NOT NULL,
	[CompanyUrl] [varchar](128) NOT NULL,
	[CompanyDescription] [varchar](max) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[CompanyFeedUrl] [varchar](256) NULL,
	[CompanyLogo] [varchar](4) NULL,
	[CompanyVisits] [int] NOT NULL,
	[EditDate] [datetime] NOT NULL,
	[EditIp] [varchar](15) NOT NULL,
	[UserId] [int] NOT NULL,
	[CompanyIsActive] [bit] NOT NULL,
	[OwnerUserId] [int] NULL,
 CONSTRAINT [PK_Companies] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CompaniesHistory]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CompaniesHistory](
	[CompanyId] [int] NOT NULL,
	[CompanyHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [varchar](100) NOT NULL,
	[CompanyUrl] [varchar](128) NOT NULL,
	[CompanyDescription] [varchar](max) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[CompanyFeedUrl] [varchar](256) NULL,
	[CompanyLogo] [varchar](4) NULL,
	[EditDate] [datetime] NOT NULL,
	[EditIp] [varchar](15) NOT NULL,
	[UserId] [int] NOT NULL,
 CONSTRAINT [PK_CompaniesHistory] PRIMARY KEY CLUSTERED 
(
	[CompanyId] ASC,
	[CompanyHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryCode] [char](2) NOT NULL,
	[CountryName] [varchar](255) NOT NULL,
 CONSTRAINT [PK_Countries] PRIMARY KEY CLUSTERED 
(
	[CountryCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Entries]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Entries](
	[EntryId] [int] IDENTITY(1,1) NOT NULL,
	[EntryTitle] [varchar](256) NOT NULL,
	[EntryTag] [varchar](128) NOT NULL,
	[EntryDate] [datetime] NOT NULL,
	[CompanyId] [int] NOT NULL,
	[EntryTeaser] [varchar](512) NOT NULL,
	[EntryContent] [varchar](max) NULL,
	[EntryExternalGuid] [varchar](256) NULL,
	[EntrySource] [varchar](256) NULL,
	[UserId] [int] NULL,
	[EntryContactInfo] [varchar](max) NULL,
	[EntryIsActive] [bit] NOT NULL,
	[EditDate] [datetime] NOT NULL,
	[EditIp] [varchar](15) NOT NULL,
	[EntryOwner] [int] NULL,
	[EntryAllowComments] [bit] NULL,
 CONSTRAINT [PK_Entries] PRIMARY KEY CLUSTERED 
(
	[EntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EntriesComments]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EntriesComments](
	[EntryId] [int] NOT NULL,
	[EntryCommentId] [int] IDENTITY(1,1) NOT NULL,
	[CommentValue] [varchar](max) NOT NULL,
	[UserId] [int] NULL,
	[NotifyReplies] [bit] NOT NULL,
	[CommentDate] [datetime] NOT NULL,
	[EditIp] [varchar](15) NOT NULL,
	[Email] [varchar](100) NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_EntriesComments] PRIMARY KEY CLUSTERED 
(
	[EntryId] ASC,
	[EntryCommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EntriesFlags]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EntriesFlags](
	[EntryFlagId] [int] IDENTITY(1,1) NOT NULL,
	[EntryId] [int] NOT NULL,
	[UserId] [int] NULL,
 CONSTRAINT [PK_EntriesFlags] PRIMARY KEY CLUSTERED 
(
	[EntryFlagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EntriesHistory]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EntriesHistory](
	[EntryId] [int] NOT NULL,
	[EntryHistoryId] [int] IDENTITY(1,1) NOT NULL,
	[EntryTitle] [varchar](256) NOT NULL,
	[EntryTeaser] [varchar](512) NOT NULL,
	[EntryContent] [varchar](max) NULL,
	[EntrySource] [varchar](256) NULL,
	[EntryContactInfo] [varchar](max) NULL,
	[UserId] [int] NULL,
	[EditDate] [datetime] NOT NULL,
	[EditIp] [varchar](15) NOT NULL,
 CONSTRAINT [PK_EntriesHistory] PRIMARY KEY CLUSTERED 
(
	[EntryId] ASC,
	[EntryHistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HostBlackList]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HostBlackList](
	[HostName] [varchar](200) NOT NULL,
 CONSTRAINT [PK_HostBlackList] PRIMARY KEY CLUSTERED 
(
	[HostName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Logs](
	[LogId] [int] IDENTITY(1,1) NOT NULL,
	[LogDate] [datetime] NOT NULL,
	[LogPriority] [smallint] NOT NULL,
	[LogTitle] [varchar](256) NOT NULL,
	[LogMessage] [varchar](max) NOT NULL,
 CONSTRAINT [PK_Logs] PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserEmail] [varchar](100) NOT NULL,
	[UserPassword] [varchar](50) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[UserGenderMale] [bit] NULL,
	[UserBirthdate] [datetime] NULL,
	[CountryCode] [char](2) NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[UserEmailActive] [bit] NOT NULL,
	[UserActive] [bit] NOT NULL,
	[AgencyId] [int] NULL,
	[AgencyValidated] [bit] NULL,
	[UserLastLogin] [datetime] NOT NULL,
	[UserUpdates] [int] NOT NULL,
	[UserRegisterDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UsersSubscriptions]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsersSubscriptions](
	[UserId] [int] NOT NULL,
	[CompanyId] [int] NOT NULL,
 CONSTRAINT [PK_UsersSubscriptions] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  UserDefinedFunction [dbo].[Split]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Split] (@s nvarchar(1024), @sep char(1))
RETURNS table
AS
RETURN (
    WITH Pieces(pn, start, stop) AS (
      SELECT 1, 1, CHARINDEX(@sep, @s)
      UNION ALL
      SELECT pn + 1, stop + 1, CHARINDEX(@sep, @s, stop + 1)
      FROM Pieces
      WHERE stop > 0
    )
    SELECT pn AS position,
      REPLACE(REPLACE(LTRIM(RTRIM(SUBSTRING(@s, start, CASE WHEN stop > 0 THEN stop-start ELSE 1024 END))), CHAR(10), ''), CHAR(13), '') AS part
    FROM Pieces
  )
GO
/****** Object:  View [dbo].[EntriesComplete]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[EntriesComplete]
AS
SELECT     
	E.EntryId, 
	E.EntryTitle, 
	E.EntryTag, 
	E.EntryDate, 
	E.CompanyId, 
	E.EntryTeaser, 
	E.EntryContent, 
	E.EntryExternalGuid, 
	E.EntrySource, 
	E.EntryContactInfo, 
	E.EntryOwner,
	ISNULL(E.EntryAllowComments, 1) AS EntryAllowComments, 
	U.UserId, 
	U.UserName, 
	C.CompanyName, 
	C.CompanyTag, 
	C.CompanyVisits, 
	C.CompanyLogo,
	C.CompanyUrl,
	C.CompanyDescription, 
	C.CategoryId, 
	CA.CategoryName, 
	CA.CategoryTag, 
	A.AgencyId, 
	A.AgencyName, 
	A.AgencyTag,
	CASE WHEN A.AgencyPremiumDate > E.EntryDate THEN 1 ELSE 0 END AS IsPremium,
	CASE WHEN A.AgencyHideAuthor = 1 THEN 1 ELSE 0 END AS HideAuthor
FROM
	dbo.Entries AS E
	INNER JOIN dbo.Companies AS C ON C.CompanyId = E.CompanyId 
	INNER JOIN dbo.Categories AS CA ON CA.CategoryId = C.CategoryId
	LEFT JOIN dbo.Users AS U ON U.UserId = ISNULL(E.EntryOwner, E.UserId)
	LEFT JOIN dbo.Agencies AS A ON A.AgencyId = U.AgencyId AND U.AgencyValidated = 1
WHERE     
	(E.EntryIsActive = 1)



GO
/****** Object:  View [dbo].[LatestEntriesCompanies]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[LatestEntriesCompanies]
AS


SELECT
		EntryId 
		,CompanyId
FROM
	(
		SELECT 
			EntryId 
			,CompanyId
			,ROW_NUMBER() OVER(PARTITION BY CompanyId ORDER BY EntryId DESC) AS Number
		FROM
			Entries with(nolock)
		WHERE
			EntryIsActive=1
	) EN
WHERE
	Number <= 2

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Companies]    Script Date: 2/20/2017 4:24:25 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Companies] ON [dbo].[Companies]
(
	[CompanyTag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
GO
/****** Object:  Index [IX_Entries_IsActive_CompanyId]    Script Date: 2/20/2017 4:24:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Entries_IsActive_CompanyId] ON [dbo].[Entries]
(
	[EntryIsActive] DESC,
	[CompanyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Entries_Users]    Script Date: 2/20/2017 4:24:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Entries_Users] ON [dbo].[Entries]
(
	[UserId] ASC,
	[EntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Users]    Script Date: 2/20/2017 4:24:25 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Users] ON [dbo].[Users]
(
	[UserEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [FK_Categories_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [FK_Categories_Categories]
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD  CONSTRAINT [FK_Companies_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([CategoryId])
GO
ALTER TABLE [dbo].[Companies] CHECK CONSTRAINT [FK_Companies_Categories]
GO
ALTER TABLE [dbo].[Companies]  WITH CHECK ADD  CONSTRAINT [FK_Companies_Users_OwnerUserId] FOREIGN KEY([OwnerUserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Companies] CHECK CONSTRAINT [FK_Companies_Users_OwnerUserId]
GO
ALTER TABLE [dbo].[Entries]  WITH CHECK ADD  CONSTRAINT [FK_Entries_Companies] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([CompanyId])
GO
ALTER TABLE [dbo].[Entries] CHECK CONSTRAINT [FK_Entries_Companies]
GO
ALTER TABLE [dbo].[Entries]  WITH CHECK ADD  CONSTRAINT [FK_Entries_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Entries] CHECK CONSTRAINT [FK_Entries_Users]
GO
ALTER TABLE [dbo].[EntriesComments]  WITH CHECK ADD  CONSTRAINT [FK_EntriesComments_Entries] FOREIGN KEY([EntryId])
REFERENCES [dbo].[Entries] ([EntryId])
GO
ALTER TABLE [dbo].[EntriesComments] CHECK CONSTRAINT [FK_EntriesComments_Entries]
GO
ALTER TABLE [dbo].[EntriesComments]  WITH CHECK ADD  CONSTRAINT [FK_EntriesComments_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[EntriesComments] CHECK CONSTRAINT [FK_EntriesComments_Users]
GO
ALTER TABLE [dbo].[EntriesFlags]  WITH CHECK ADD  CONSTRAINT [FK_EntriesFlags_Entries] FOREIGN KEY([EntryId])
REFERENCES [dbo].[Entries] ([EntryId])
GO
ALTER TABLE [dbo].[EntriesFlags] CHECK CONSTRAINT [FK_EntriesFlags_Entries]
GO
ALTER TABLE [dbo].[EntriesFlags]  WITH CHECK ADD  CONSTRAINT [FK_EntriesFlags_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[EntriesFlags] CHECK CONSTRAINT [FK_EntriesFlags_Users]
GO
ALTER TABLE [dbo].[EntriesHistory]  WITH CHECK ADD  CONSTRAINT [FK_EntriesHistory_Entries] FOREIGN KEY([EntryId])
REFERENCES [dbo].[Entries] ([EntryId])
GO
ALTER TABLE [dbo].[EntriesHistory] CHECK CONSTRAINT [FK_EntriesHistory_Entries]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Agencies] FOREIGN KEY([AgencyId])
REFERENCES [dbo].[Agencies] ([AgencyId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Agencies]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Countries] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[Countries] ([CountryCode])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Countries]
GO
ALTER TABLE [dbo].[UsersSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_UsersSubscriptions_Companies] FOREIGN KEY([CompanyId])
REFERENCES [dbo].[Companies] ([CompanyId])
GO
ALTER TABLE [dbo].[UsersSubscriptions] CHECK CONSTRAINT [FK_UsersSubscriptions_Companies]
GO
ALTER TABLE [dbo].[UsersSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_UsersSubscriptions_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[UsersSubscriptions] CHECK CONSTRAINT [FK_UsersSubscriptions_Users]
GO
/****** Object:  StoredProcedure [dbo].[SPAgenciesCheckDuplicate]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPAgenciesCheckDuplicate]
	@AgencyId int
	,@AgencyTag varchar(50)
AS
SELECT
	AgencyId,
	AgencyTag
FROM
	Agencies
WHERE
	AgencyTag = @AgencyTag
	AND
	AgencyId <> @AgencyId 

GO
/****** Object:  StoredProcedure [dbo].[SPAgenciesGet]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPAgenciesGet]
	@AgencyTag varchar(50)='sample-agency'
AS
SELECT
	AgencyId
	,AgencyName
	,AgencyTag
	,AgencyDescription
	,AgencyUrl
	,AgencyEmail
	,AgencyPhone
	,AgencyLogo
	,AgencyPremiumDate
	,AgencyHideAuthor
FROM
	Agencies
WHERE
	AgencyTAg = @AgencyTag
	

GO
/****** Object:  StoredProcedure [dbo].[SPAgenciesGetByUser]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPAgenciesGetByUser]
	@UserId int
AS
SELECT 
	A.AgencyId
	,AgencyName
	,AgencyTag
	,AgencyDescription
	,AgencyUrl
	,AgencyEmail
	,AgencyPhone
	,AgencyLogo
	,AgencyPremiumDate
	,AgencyPaymentStatus
	,AgencyPayerEmail
	,AgencySubscriptionId
	,AgencyHideAuthor	
FROM
	Users U
	INNER JOIN Agencies A ON A.AgencyId = U.AgencyId
WHERE
	U.UserId = @UserId

GO
/****** Object:  StoredProcedure [dbo].[SPAgenciesInsert]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPAgenciesInsert]
	@AgencyName varchar(100)
	,@AgencyTag varchar(50)
	,@AgencyDescription varchar(max)
	,@AgencyUrl varchar(128)
	,@AgencyEmail varchar(100)
	,@AgencyPhone varchar(30)
	,@AgencyLogo varchar(4)
	,@AgencyHideAuthor bit = 0
	,@AgencyId int OUTPUT
AS
INSERT INTO Agencies
	(AgencyName
	,AgencyTag
	,AgencyDescription
	,AgencyUrl
	,AgencyEmail
	,AgencyPhone
	,AgencyLogo
	,AgencyHideAuthor)
VALUES
	(@AgencyName
	,@AgencyTag
	,@AgencyDescription
	,@AgencyUrl
	,@AgencyEmail
	,@AgencyPhone
	,@AgencyLogo
	,@AgencyHideAuthor)


SET @AgencyId = @@IDENTITY


GO
/****** Object:  StoredProcedure [dbo].[SPAgenciesSetPayment]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPAgenciesSetPayment]
	@AgencyId int
	,@AgencyPaymentStatus smallint
	,@AgencyPayerEmail varchar(1024)
	,@AgencySubscriptionId varchar(19)
	,@AgencyPremiumDate datetime
AS
/*
	Sets the payment status to the agency
*/
UPDATE Agencies
SET
	AgencyPremiumDate=@AgencyPremiumDate
	,AgencyPaymentStatus=@AgencyPaymentStatus
	,AgencyPayerEmail=@AgencyPayerEmail
	,AgencySubscriptionId=@AgencySubscriptionId
WHERE
	AgencyId = @AgencyId
GO
/****** Object:  StoredProcedure [dbo].[SPAgenciesUpdate]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPAgenciesUpdate]
	@AgencyTag varchar(50)
	,@AgencyName varchar(100)
	,@AgencyDescription varchar(max)
	,@AgencyUrl varchar(128)
	,@AgencyEmail varchar(100)
	,@AgencyPhone varchar(30)
	,@AgencyLogo varchar(4)
	,@AgencyHideAuthor bit=0
AS
UPDATE Agencies
SET
	AgencyName = @AgencyName
	,AgencyDescription = @AgencyDescription
	,AgencyUrl = @AgencyUrl
	,AgencyEmail = @AgencyEmail
	,AgencyPhone = @AgencyPhone
	,AgencyLogo = @AgencyLogo
	,AgencyHideAuthor = @AgencyHideAuthor
WHERE
	AgencyTag = @AgencyTag

GO
/****** Object:  StoredProcedure [dbo].[SPCategoriesGetAll]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPCategoriesGetAll]

AS
SELECT
	CategoryId
	,CategoryName
	,CategoryTag
	,CategoryDescription
FROM
	Categories
ORDER BY CategoryOrder

GO
/****** Object:  StoredProcedure [dbo].[SPCategoriesGetByTag]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPCategoriesGetByTag]
	@CategoryTag varchar(50) = 'technology'
AS
SELECT
*
FROM
	Categories
WHERE
	CategoryTag = @CategoryTag
GO
/****** Object:  StoredProcedure [dbo].[SPCleanDb]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPCleanDb]
AS
BEGIN TRY
	BEGIN TRANSACTION 
	DELETE FROM EntriesHistory
	DELETE FROM EntriesFlags	
	DELETE FROM Entries
	DELETE FROM UsersSubscriptions
	DELETE FROM CompaniesHistory
	DELETE FROM Companies
	DELETE FROM Logs
	DELETE FROM Users
	DELETE FROM Agencies
	COMMIT
END TRY
BEGIN CATCH
  IF @@TRANCOUNT > 0
     ROLLBACK

  DECLARE @ErrMsg nvarchar(4000), @ErrSeverity int
  SELECT @ErrMsg = ERROR_MESSAGE(),
         @ErrSeverity = ERROR_SEVERITY()

  RAISERROR(@ErrMsg, @ErrSeverity, 1)
END CATCH
GO
/****** Object:  StoredProcedure [dbo].[SPCompaniesAddVisit]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPCompaniesAddVisit]
	@CompanyId int=1
AS

UPDATE Companies
SET CompanyVisits=CompanyVisits+1
WHERE 
	CompanyId=@CompanyId
	AND
	CompanyVisits >= 0
GO
/****** Object:  StoredProcedure [dbo].[SPCompaniesCheckDuplicate]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPCompaniesCheckDuplicate]
	@CompanyId int
	,@CompanyTag varchar(50)
AS
SELECT
	CompanyId,
	CompanyName
FROM
	Companies
WHERE
	CompanyTag = @CompanyTag
	AND
	CompanyId <> @CompanyId 
GO
/****** Object:  StoredProcedure [dbo].[SPCompaniesDelete]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPCompaniesDelete]
	@CompanyId int
AS

BEGIN TRY
	BEGIN TRANSACTION 
	--Delete company
	UPDATE Companies
	SET
		CompanyIsActive = 0
	WHERE 
		CompanyId = @CompanyId;
	
	--Delete entries
	UPDATE
		Entries
	SET
		EntryIsActive = 0
	WHERE 
		CompanyId = @CompanyId
	COMMIT
END TRY
BEGIN CATCH
  IF @@TRANCOUNT > 0
     ROLLBACK

  DECLARE @ErrMsg nvarchar(4000), @ErrSeverity int
  SELECT @ErrMsg = ERROR_MESSAGE(),
         @ErrSeverity = ERROR_SEVERITY()

  RAISERROR(@ErrMsg, @ErrSeverity, 1)
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[SPCompaniesGet]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPCompaniesGet]
	@CompanyTag varchar(50) = 'google'
AS
SELECT
	CompanyId
	,CompanyName
	,CompanyUrl
	,CompanyDescription
	,CategoryId
	,CompanyFeedUrl
	,CompanyLogo
	,EditDate
	,EditIp
	,UserId
	,OwnerUserId
FROM
	Companies
WHERE
	CompanyTag = @CompanyTag
	AND
	CompanyIsActive = 1
GO
/****** Object:  StoredProcedure [dbo].[SPCompaniesGetAll]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SPCompaniesGetAll]

AS
SELECT
	CompanyId
	,CompanyName
	,CompanyTag
FROM
	Companies
WHERE
	CompanyIsActive = 1
ORDER BY CompanyName


GO
/****** Object:  StoredProcedure [dbo].[SPCompaniesGetById]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPCompaniesGetById]
	@CompanyId int
AS
SELECT
	CompanyId
	,CompanyName
	,CompanyUrl
	,CompanyDescription
	,CategoryId
	,CompanyFeedUrl
	,CompanyLogo
	,EditDate
	,EditIp
	,UserId
	,OwnerUserId
FROM
	Companies
WHERE
	CompanyId = @CompanyId
	AND
	CompanyIsActive = 1


GO
/****** Object:  StoredProcedure [dbo].[SPCompaniesGetByIp]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPCompaniesGetByIp]
	@Ip varchar(39)='127.0.0.1'
AS

SELECT
	CompanyId
	,CompanyTag
	,CompanyName
	,CompanyUrl
	,CompanyDescription
FROM
	Companies
WHERE
	CompanyIsActive = 1
	AND
	EditIp = @Ip
ORDER BY CompanyId DESC
GO
/****** Object:  StoredProcedure [dbo].[SPCompaniesGetByName]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPCompaniesGetByName]
	@CompanyName varchar(100) = 'Google'
AS

SELECT
	CompanyId
	,CompanyTag
	,CompanyName
FROM
	dbo.Companies
WHERE CompanyName = @CompanyName
	and CompanyIsActive = 1

GO
/****** Object:  StoredProcedure [dbo].[SPCompaniesGetByTag]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPCompaniesGetByTag]
	@CompanyTag varchar(50)
AS
SELECT
	CO.CompanyId
	,CO.CompanyTag
	,CO.CompanyName
	,CO.CompanyUrl
	,CO.CompanyDescription
	,CO.CompanyLogo
	,CO.CategoryId
	,C.CategoryName
	,C.CategoryTag
FROM
	Companies CO
	INNER JOIN Categories C ON C.CategoryId = CO.CategoryId
WHERE
	CompanyTag = @CompanyTag
	AND
	CompanyIsActive = 1



GO
/****** Object:  StoredProcedure [dbo].[SPCompaniesGetRelevant]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SPCompaniesGetRelevant]
AS
SELECT 
	*
FROM
	(
		SELECT
			TOP 100
			CompanyId
			,CompanyName
			,CompanyTag
			,CompanyVisits
		FROM
			Companies
		WHERE 
			CompanyIsActive = 1
		ORDER BY CompanyVisits DESC
	) as c
ORDER BY CompanyName
GO
/****** Object:  StoredProcedure [dbo].[SPCompaniesGetWithFeeds]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPCompaniesGetWithFeeds]
		
AS
SELECT 
	CompanyId
	,CompanyTag
	,CompanyName
	,CompanyFeedUrl
	,OwnerUserId
FROM
	Companies
WHERE
	CompanyFeedUrl IS NOT NULL
	AND
	CompanyFeedUrl <> ''
	AND
	CompanyIsActive = 1
GO
/****** Object:  StoredProcedure [dbo].[SPCompaniesHistoryAdd]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPCompaniesHistoryAdd]
	@CompanyId int=2
AS
INSERT INTO CompaniesHistory
	(
	CompanyId
	,CompanyName
	,CompanyUrl
	,CompanyDescription
	,CategoryId
	,CompanyFeedUrl
	,CompanyLogo
	,EditDate
	,EditIp
	,UserId
	)
SELECT
	CompanyId
	,CompanyName
	,CompanyUrl
	,CompanyDescription
	,CategoryId
	,CompanyFeedUrl
	,CompanyLogo
	,EditDate
	,EditIp
	,UserId
FROM
	Companies
WHERE
	CompanyId = @CompanyId
GO
/****** Object:  StoredProcedure [dbo].[SPCompaniesHistoryRestore]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPCompaniesHistoryRestore]
	@CompanyId int=2
	,@CompanyHistoryId int = 1
AS
UPDATE C
SET
	C.CompanyName = H.CompanyName
	,C.CompanyUrl = H.CompanyUrl
	,C.CompanyDescription = H.CompanyDescription
	,C.CategoryId = H.CategoryId
	,C.CompanyFeedUrl = H.CompanyFeedUrl
	,C.CompanyLogo = H.CompanyLogo
	,C.EditDate = H.EditDate
	,C.EditIp = H.EditIp
	,C.UserId = H.UserId
FROM
	Companies C
	INNER JOIN CompaniesHistory H ON H.CompanyId = C.CompanyId
WHERE
	C.CompanyId = @CompanyId
	AND
	H.CompanyHistoryId = @CompanyHistoryId
GO
/****** Object:  StoredProcedure [dbo].[SPCompaniesInsert]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SPCompaniesInsert]
	@CompanyTag varchar(50)
	,@CompanyName varchar(100)
	,@CompanyUrl varchar(128)
	,@CompanyDescription varchar(max)
	,@CategoryId int
	,@CompanyFeedUrl varchar(256)
	,@CompanyLogo varchar(4)
	,@EditIp varchar(15)
	,@UserId int
	,@CompanyId int OUTPUT
AS

BEGIN TRY
	BEGIN TRANSACTION 

	exec dbo.SPUsersSetCountUpdates @UserId

	INSERT INTO dbo.Companies
	(
		CompanyTag
		,CompanyName
		,CompanyUrl
		,CompanyDescription
		,CategoryId
		,CompanyFeedUrl
		,CompanyLogo
		,CompanyVisits
		,EditDate
		,EditIp
		,UserId
		,CompanyIsActive
	)
	VALUES
	(
		@CompanyTag
		,@CompanyName
		,@CompanyUrl
		,@CompanyDescription
		,@CategoryId
		,@CompanyFeedUrl
		,@CompanyLogo
		,0 -- Company Visits
		,GETDATE() --Edit Date
		,@EditIp
		,@UserId
		,1 -- CompanyIsActive
	)
	COMMIT

	SET @CompanyId = @@IDENTITY


END TRY
BEGIN CATCH
  IF @@TRANCOUNT > 0
     ROLLBACK

  DECLARE @ErrMsg nvarchar(4000), @ErrSeverity int
  SELECT @ErrMsg = ERROR_MESSAGE(),
         @ErrSeverity = ERROR_SEVERITY()

  RAISERROR(@ErrMsg, @ErrSeverity, 1)
END CATCH





GO
/****** Object:  StoredProcedure [dbo].[SPCompaniesIsClosed]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPCompaniesIsClosed]
	@CompanyId int = NULL
	, @CompanyTag varchar(50) = NULL
	, @UserId int
AS

DECLARE @OwnerUserId int
DECLARE @CompanyFeedUrl varchar(256)

SELECT
	@CompanyFeedUrl = CompanyFeedUrl
	,@OwnerUserId = OwnerUserId
FROM
	Companies
WHERE
	CompanyId = ISNULL(@CompanyId, -1)
	OR
	CompanyTag = ISNULL(@CompanyTag, '')
	
SELECT
	CASE
		WHEN @OwnerUserId = @UserId THEN 0
			
		WHEN @OwnerUserId IS NULL AND @CompanyFeedUrl IS NULL THEN 0
		
		ELSE 1
	END AS IsClosed
GO
/****** Object:  StoredProcedure [dbo].[SPCompaniesSetNoVisits]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPCompaniesSetNoVisits]
	@CompanyId int
AS

UPDATE Companies
SET CompanyVisits=-1
WHERE 
	CompanyId=@CompanyId
GO
/****** Object:  StoredProcedure [dbo].[SPCompaniesUpdate]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SPCompaniesUpdate]
	@CompanyTag varchar(50)	
	,@CompanyName varchar(100)
	,@CompanyUrl varchar(128)
	,@CompanyDescription varchar(max)
	,@CategoryId int
	,@CompanyFeedUrl varchar(256)
	,@CompanyLogo varchar(4)
	,@EditIp varchar(15)
	,@UserId int
AS
BEGIN TRY
	BEGIN TRANSACTION 
	--Save history
	DECLARE @CompanyId int
	SELECT @CompanyId=CompanyId FROM Companies WHERE CompanyTag = @CompanyTag

	exec dbo.SPCompaniesHistoryAdd @CompanyId

	exec dbo.SPUsersSetCountUpdates @UserId
	
	UPDATE Companies
	SET
		CompanyName = @CompanyName
		,CompanyUrl = @CompanyUrl
		,CompanyDescription = @CompanyDescription 
		,CategoryId = @CategoryId 
		,CompanyFeedUrl = @CompanyFeedUrl 
		,CompanyLogo = @CompanyLogo 
		,EditDate = GETDATE()
		,EditIp = @EditIp 
		,UserId = @UserId 
	WHERE
		CompanyId = @CompanyId

	COMMIT
END TRY
BEGIN CATCH
  IF @@TRANCOUNT > 0
     ROLLBACK

  DECLARE @ErrMsg nvarchar(4000), @ErrSeverity int
  SELECT @ErrMsg = ERROR_MESSAGE(),
         @ErrSeverity = ERROR_SEVERITY()

  RAISERROR(@ErrMsg, @ErrSeverity, 1)
END CATCH


GO
/****** Object:  StoredProcedure [dbo].[SPCountriesGet]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPCountriesGet]

AS
SELECT
	CountryCode
	,CountryName
FROM
	Countries
ORDER BY CountryName
GO
/****** Object:  StoredProcedure [dbo].[SPEntriesCommentsGetByEntry]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SPEntriesCommentsGetByEntry]
	@EntryId int=1025
AS
SELECT
	C.EntryId
	,C.EntryCommentId
	,C.CommentValue
	,C.CommentDate
	,C.UserId
	,C.[Name]
	,C.Email
	,U.UserName
	,U.UserEmail
	,C.NotifyReplies
FROM
	EntriesComments C
	LEFT JOIN Users U ON U.UserId = C.UserId
WHERE
	C.EntryId = @EntryId
ORDER BY
	C.EntryCommentId


GO
/****** Object:  StoredProcedure [dbo].[SPEntriesCommentsGetLatest]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SPEntriesCommentsGetLatest]
	
AS
SELECT
	TOP 10
	C.EntryId
	,C.EntryCommentId
	,C.CommentValue
	,C.CommentDate
	,C.UserId
	,C.[Name]
	,C.Email
	,U.UserName
	,U.UserEmail
	,C.NotifyReplies
FROM
	EntriesComments C
	LEFT JOIN Users U ON U.UserId = C.UserId
ORDER BY
	C.EntryCommentId desc

GO
/****** Object:  StoredProcedure [dbo].[SPEntriesCommentsGetNotify]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [dbo].[SPEntriesCommentsGetNotify]
	@EntryId int=1025
AS
SELECT
	C.EntryId
	,C.UserId
	,MAX(U.UserName) AS UserName
	,U.UserEmail
	,MAX(C.[Name]) AS [Name]
	,C.Email
FROM
	EntriesComments C
	LEFT JOIN Users U ON U.UserId = C.UserId
WHERE
	C.EntryId = @EntryId
	AND
	C.NotifyReplies = 1
GROUP BY
	C.EntryId
	,C.UserId
	,C.Email
	,U.UserName
	,U.UserEmail




GO
/****** Object:  StoredProcedure [dbo].[SPEntriesCommentsInsert]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE PROCEDURE [dbo].[SPEntriesCommentsInsert]
	@EntryId int
	,@CommentValue varchar(max)
	,@UserId int
	,@NotifyReplies bit
	,@EditIp varchar(15)
	,@Name varchar(50)
	,@Email varchar(100)
AS

INSERT INTO EntriesComments
(EntryId
,CommentValue
,UserId
,NotifyReplies
,CommentDate
,EditIp
,[Name]
,Email)
VALUES
(
	@EntryId
	,@CommentValue
	,@UserId
	,@NotifyReplies
	,GETDATE()
	,@EditIp
	,@Name
	,@Email
)

GO
/****** Object:  StoredProcedure [dbo].[SPEntriesCommentsUnsubscribeByEmail]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPEntriesCommentsUnsubscribeByEmail]
	@EntryId int=1025
	,@Email varchar(100)
AS
UPDATE C
SET
	NotifyReplies=0
FROM 
	dbo.EntriesComments C
WHERE
	C.EntryId = @EntryId
	AND
	C.Email = @Email

GO
/****** Object:  StoredProcedure [dbo].[SPEntriesCommentsUnsubscribeByUser]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPEntriesCommentsUnsubscribeByUser]
	@EntryId int=1025
	,@UserId int=28
AS
UPDATE C
SET
	NotifyReplies=0
FROM 
	dbo.EntriesComments C
WHERE
	C.EntryId = @EntryId
	AND
	C.UserId = @UserId

GO
/****** Object:  StoredProcedure [dbo].[SPEntriesDelete]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPEntriesDelete]
	@EntryId int
AS
UPDATE
	Entries
SET
	EntryIsActive = 0
WHERE
	EntryId = @EntryId
GO
/****** Object:  StoredProcedure [dbo].[SPEntriesDeleteByUser]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPEntriesDeleteByUser]
	@UserId int,
	@EntriesCount int OUTPUT,
	@CompaniesCount int OUTPUT
AS
BEGIN TRY
	BEGIN TRANSACTION 

	--Delete all entries submitted by userid
	UPDATE
		TOP (10)
		Entries
	SET
		EntryIsActive = 0
	WHERE 
		Userid = @userid
		AND
		EntryIsActive = 1
	
	SET @EntriesCount = @@ROWCOUNT

	--Delete all companies from userid where no entries
	/*
	UPDATE C
	SET
		C.CompanyIsActive = 0
	FROM
		Companies C	
	WHERE 
		C.Userid = @userid
		and
		(SELECT COUNT(E.EntryId) FROM Entries E WHERE E.CompanyId = C.CompanyId) = 0
	*/
	SET @CompaniesCount = @@ROWCOUNT

	COMMIT
	--ROLLBACK
END TRY
BEGIN CATCH
  IF @@TRANCOUNT > 0
     ROLLBACK

  DECLARE @ErrMsg nvarchar(4000), @ErrSeverity int
  SELECT @ErrMsg = ERROR_MESSAGE(),
         @ErrSeverity = ERROR_SEVERITY()

  RAISERROR(@ErrMsg, @ErrSeverity, 1)
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[SPEntriesFlagsGetAll]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPEntriesFlagsGetAll]

AS
SELECT
	COUNT(F.EntryFlagId) AS Total
	,'(' + CONVERT(VARCHAR,COUNT(F.EntryFlagId))  + ') ' + E.CompanyName + ': ' + E.EntryTitle AS FlagName
	,F.EntryId
	,E.EntryDate
	,E.EntryTag
	,E.EntryTitle
	,E.CompanyTag
	,F.UserId
	,U.UserName
FROM
	dbo.EntriesFlags F
	INNER JOIN  dbo.EntriesComplete E ON E.EntryId = F.EntryId
	INNER JOIN Users U ON U.UserId = F.UserId
GROUP BY 
	F.EntryId
	,E.EntryTag
	,EntryTitle
	,E.CompanyName
	,E.CompanyTag
	,E.EntryDate
	,F.UserId
	,U.UserName
ORDER BY Total DESC
GO
/****** Object:  StoredProcedure [dbo].[SPEntriesFlagsInsert]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPEntriesFlagsInsert]
	@EntryId int
	,@UserId int
AS
INSERT INTO dbo.EntriesFlags
(EntryId, UserId)
VALUES
(@EntryId, @UserId)

GO
/****** Object:  StoredProcedure [dbo].[SPEntriesGet]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPEntriesGet]
	@EntryId int=1025
AS
SELECT
	E.EntryId
	,E.EntryTag
	,E.CompanyId
	,C.CompanyName
	,C.CompanyTag
	,E.EntryTitle
	,E.EntryTeaser
	,E.EntryContent
	,E.EntryContactInfo
	,E.EntrySource
	,ISNULL(E.EntryAllowComments, 1) AS EntryAllowComments
	,E.EntryOwner
FROM
	Entries E
	INNER JOIN Companies C ON C.CompanyId = E.CompanyId
WHERE
	E.EntryId = @EntryId


GO
/****** Object:  StoredProcedure [dbo].[SPEntriesGetByAgency]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPEntriesGetByAgency]
	@AgencyId int=10
AS

SELECT 
	Top 15
	E.EntryId
	,E.EntryTitle
	,E.EntryTag
	,E.EntryDate
	,E.EntryTeaser
	,E.CompanyId
	,E.CompanyTag
	,E.CompanyName
FROM
	dbo.EntriesComplete E
	INNER JOIN Users U ON E.EntryOwner = U.UserId
WHERE
	U.AgencyId = @AgencyId
	AND
	U.AgencyValidated = 1
ORDER BY E.EntryId DESC
GO
/****** Object:  StoredProcedure [dbo].[SPEntriesGetByCategory]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPEntriesGetByCategory]
	@CategoryId int = 1
AS

DECLARE @MinEntryId int
SET @MinEntryId = dbo.FXEntryIdRecent()

SELECT 
	E.EntryId
	,E.EntryTitle
	,E.EntryTag
	,E.CompanyId
	,E.EntryTeaser
	,E.EntryDate
	,E.UserId
	,E.CompanyName
	,E.CompanyTag
	,E.CompanyLogo
	,E.CategoryId
	,CASE WHEN E.UserName IS NOT NULL THEN E.UserName ELSE 'robot' END AS UserName
	,E.AgencyId
	,E.AgencyName
	,E.AgencyTag
	,E.HideAuthor
	,dbo.FXRelevance(E.EntryDate, E.CompanyVisits) AS Relevance
FROM
	EntriesComplete E
WHERE
	E.EntryId > @MinEntryId
	AND
	E.CategoryId = @CategoryId
ORDER BY Relevance DESC


GO
/****** Object:  StoredProcedure [dbo].[SPEntriesGetByCompany]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPEntriesGetByCompany]
	@CompanyId int=2
	,@RowNumberFrom int=1
	,@RowNumberTo int=10
	,@TotalItems int=NULL OUTPUT
AS
/*
	Gets entries by companies, 
	Paged, ordered by entrydate desc
*/
SELECT @TotalItems = COUNT(*) FROM Entries 
WHERE 
	CompanyId = @CompanyId
	AND 
	EntryIsActive = 1

SELECT 
	T.EntryId
	,T.EntryTitle
	,T.EntryTag
	,T.EntryDate
	,T.EntryTeaser
	,T.UserId
	,C.CompanyId
	,C.CompanyTag
FROM 
	(
	SELECT 
		ROW_NUMBER()
			OVER 
				(ORDER BY EntryDate DESC
				 ,EntryId DESC)
			AS RowNumber
		,E.EntryId
		,E.EntryTitle
		,E.EntryTag
		,E.EntryDate
		,E.EntryTeaser
		,E.UserId
		,E.CompanyId
	FROM
		dbo.Entries E
	WHERE
		E.CompanyId = @CompanyId
		AND 
		E.EntryIsActive = 1
	) AS T
	INNER JOIN Companies C ON 
		T.RowNumber BETWEEN @RowNumberFrom AND @RowNumberTo
		AND
		C.CompanyId = T.CompanyId


GO
/****** Object:  StoredProcedure [dbo].[SPEntriesGetByDate]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SPEntriesGetByDate]
	@Date datetime = '2008-11-10'
AS
DECLARE @LowerBound int
DECLARE @UpperBound int
SELECT 
	@LowerBound = 0
	,@UpperBound = 2147483647
IF Year(@Date) = 2008
BEGIN
	SELECT 
		@LowerBound=225,
		@UpperBound=111619
END
IF Year(@Date) = 2009
BEGIN
	SELECT 
		@LowerBound=106,
		@UpperBound=122321
END
IF Year(@Date) = 2010
BEGIN
	SELECT 
		@LowerBound=15763,
		@UpperBound=107049
END

IF Year(@Date) = 2011
BEGIN
	SELECT 
		@LowerBound=107050,
		@UpperBound=400165
END

IF Year(@Date) = 2012
BEGIN
	IF MONTH(@DATE) <= 6
	BEGIN
		SELECT 
			@LowerBound=400166,
			@UpperBound=463000
	END
	ELSE
	BEGIN
		SELECT 
			@LowerBound=460000,
			@UpperBound=550000
	END
END

IF Year(@Date) = 2013
BEGIN
	SELECT 
		@LowerBound=501052,
		@UpperBound=591011
END

IF Year(@Date) = 2014
BEGIN
	SELECT 
		@LowerBound=589958,
		@UpperBound=658000
END

IF Year(@Date) > 2014
BEGIN
	SELECT 
		@LowerBound=657000,
		@UpperBound=2000000
END


SELECT 
	E.EntryId
	,E.EntryTitle
	,E.EntryTag
	,E.CompanyId
	,E.EntryTeaser
	,E.EntryDate
	,E.UserId
	,E.CompanyName
	,E.CompanyTag
	,E.CompanyLogo
	,E.CategoryId
	,CASE WHEN E.UserName IS NOT NULL THEN E.UserName ELSE 'robot' END AS UserName
	,E.AgencyId
	,E.AgencyName
	,E.AgencyTag
	,0 AS Relevance
FROM
	EntriesComplete E
WHERE
	(EntryId BETWEEN @LowerBound AND @UpperBound)
	AND
	DATEADD(Day, DATEDIFF(Day, 0, E.EntryDate), 0) = @date
	--(DATEDIFF(day, E.EntryDate, @date) BETWEEN 0 AND 1)
GO
/****** Object:  StoredProcedure [dbo].[SPEntriesGetByExternalGuid]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPEntriesGetByExternalGuid]
	@Guid varchar(256) = ''
	,@CompanyId int = 0
AS

SELECT EntryId FROM Entries WHERE EntryExternalGuid=@Guid AND CompanyId=@CompanyId

GO
/****** Object:  StoredProcedure [dbo].[SPEntriesGetByIdList]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPEntriesGetByIdList]
	@IdList varchar(1024)
AS

WITH Ids (id)
AS
(
select convert(int,part) from dbo.Split(@IdList,',')
)

SELECT 
	E.EntryId
	,E.EntryTitle
	,E.EntryTag
	,E.CompanyId
	,E.EntryTeaser
	,E.EntryDate
	,E.UserId
	,E.CompanyName
	,E.CompanyTag
	,E.CompanyLogo
	,E.CategoryId
	,CASE WHEN E.UserName IS NOT NULL THEN E.UserName ELSE 'robot' END AS UserName
	,E.AgencyId
	,E.AgencyName
	,E.AgencyTag
	,E.HideAuthor
	,0 AS Relevance
FROM
	EntriesComplete E
	INNER JOIN Ids ON E.EntryId = Ids.Id
ORDER BY
	CompanyVisits DESC
GO
/****** Object:  StoredProcedure [dbo].[SPEntriesGetByIp]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPEntriesGetByIp]
	@Ip varchar(39)='127.0.0.1'
AS
SELECT
	E.EntryId
	,E.EntryTitle
	,E.EntryTag
	,E.CompanyId
	,E.EntryTeaser
	,E.UserId
	,C.CompanyName
	,C.CompanyTag
FROM 
	Entries E
	INNER JOIN Companies C ON C.CompanyId = E.CompanyId
WHERE
	E.EntryId > dbo.FXEntryIdRecent()
	AND
	E.EditIp = @Ip
	AND
	E.EntryIsActive = 1
ORDER BY EntryId DESC
GO
/****** Object:  StoredProcedure [dbo].[SPEntriesGetBySubscription]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SPEntriesGetBySubscription]
	@UserId int = 1
	,@Top int = 10
AS

DECLARE @MinEntryId int
SET @MinEntryId = dbo.FXEntryIdRecent()

SELECT 
	TOP (@Top)
	E.EntryId
	,E.EntryTitle
	,E.EntryTag
	,E.CompanyId
	,E.EntryTeaser
	,E.EntryDate
	,E.UserId
	,E.CompanyName
	,E.CompanyTag
	,E.CompanyLogo
	,E.CategoryId
	,CASE WHEN E.UserName IS NOT NULL THEN E.UserName ELSE 'robot' END AS UserName
	,E.AgencyId
	,E.AgencyName
	,E.AgencyTag
	,E.HideAuthor
	,0 AS Relevance
FROM
	EntriesComplete E
	INNER JOIN dbo.UsersSubscriptions S ON S.CompanyId = E.CompanyId
WHERE
	E.EntryId > @MinEntryId
	AND
	S.UserId = @UserId
ORDER BY EntryId DESC




GO
/****** Object:  StoredProcedure [dbo].[SPEntriesGetByUser]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPEntriesGetByUser]
	@UserId int
AS

SELECT 
	Top 15
	E.EntryId
	,E.EntryTitle
	,E.EntryTag
	,E.EntryDate
	,E.EntryTeaser
	,E.CompanyId
	,E.CompanyTag
	,E.CompanyName
FROM
	dbo.EntriesComplete E
WHERE
	E.EntryOwner = @UserId
ORDER BY E.EntryId DESC


GO
/****** Object:  StoredProcedure [dbo].[SPEntriesGetDetail]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPEntriesGetDetail]
	@EntryId int
	,@EntryTag varchar(128)
AS
SELECT
	EntryId
	,EntryTitle
	,EntryTag
	,EntryDate
	,EntryTeaser
	,EntryContent
	,EntryExternalGuid
	,EntrySource
	,UserId
	,EntryContactInfo
	,EntryAllowComments
	,EntryOwner
	,CompanyId
	,CompanyName
	,CompanyTag
	,CompanyVisits
	,CompanyLogo
	,CompanyDescription
	,CategoryId
	,CategoryName
	,CategoryTag
	,UserName
	,AgencyId
	,AgencyName
	,AgencyTag
	,IsPremium
	,HideAuthor
FROM
	dbo.EntriesComplete E
WHERE
	E.EntryId = @EntryId
	AND
	E.EntryTag = @EntryTag





GO
/****** Object:  StoredProcedure [dbo].[SPEntriesGetLatest]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SPEntriesGetLatest]
	@Top int=100
AS
SELECT 
	TOP (@Top)
	E.EntryId
	,E.EntryTitle
	,E.EntryTag
	,E.CompanyId
	,E.EntryTeaser
	,E.EntryDate
	,E.UserId
	,E.CompanyName
	,E.CompanyTag
	,E.CompanyLogo
	,E.CategoryId
	,CASE WHEN E.UserName IS NOT NULL THEN E.UserName ELSE 'robot' END AS UserName
	,E.AgencyId
	,E.AgencyName
	,E.AgencyTag
	,E.HideAuthor
	,0 AS Relevance
FROM
	EntriesComplete E
ORDER BY EntryId DESC


GO
/****** Object:  StoredProcedure [dbo].[SPEntriesGetRelevant]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPEntriesGetRelevant]

AS

DECLARE @MinValue int
SELECT @MinValue = dbo.FXEntryIdRecent()

SELECT 
	top 1000
	E.EntryId
	,E.EntryTitle
	,E.EntryTag
	,E.CompanyId
	,E.EntryTeaser
	,E.EntryDate
	,E.UserId
	,E.CompanyName
	,E.CompanyTag
	,E.CompanyLogo
	,E.CategoryId
	,CASE WHEN E.UserName IS NOT NULL THEN E.UserName ELSE 'robot' END AS UserName
	,E.AgencyId
	,E.AgencyName
	,E.AgencyTag
	,E.HideAuthor
	,dbo.FXRelevance(E.EntryDate, E.CompanyVisits) AS Relevance
FROM
	EntriesComplete E
	INNER JOIN LatestEntriesCompanies EL ON EL.EntryId > @MinValue AND E.EntryId = EL.EntryId 
WHERE
	--E.EntryId > @MinValue
	--AND
	E.CompanyVisits > 50
ORDER BY Relevance DESC


GO
/****** Object:  StoredProcedure [dbo].[SPEntriesGetSuspected]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPEntriesGetSuspected]
	@EntryId int=0 -- From a certain id
	,@Descending bit=1
AS
SELECT
	*
FROM 
	EntriesComplete E
WHERE
	E.EntryId > dbo.FXEntryIdRecent()
	AND
	E.EntryId > @EntryId
	AND
	(
	E.EntryTitle LIKE '%aborto%'	
	OR
	E.EntryTitle LIKE '%abortion%'
	OR
	E.EntryTitle LIKE '%erection%'
	OR
	E.EntryTitle LIKE '%erecc%'
	OR
	E.EntryTitle LIKE '%cuck%'
	OR
	E.EntryTitle LIKE '%cock%'
	OR
	E.EntryTitle LIKE '%cum %'
	OR
	E.EntryTitle LIKE '%escort%'
	OR
	E.EntryTitle LIKE '%chicas%'
	OR
	E.EntryTitle LIKE '%girl%'
	OR
	E.EntryTitle LIKE '%boy%'
	OR
	E.EntryTitle LIKE '%sex%'
	OR
	E.EntryTitle LIKE '%porn%'
	OR
	E.EntryTitle LIKE '%porn%'
	OR
	E.EntryTitle LIKE '%drug%'
	OR
	E.EntryTitle LIKE '%droga%'
	OR
	E.EntryTitle LIKE '%webcam%'
	OR
	E.EntryTitle LIKE '%nude%'
	OR
	E.EntryTitle LIKE '%babe%'
	)
ORDER BY 
	(CASE 
		WHEN @Descending=1 THEN E.EntryId*1
		ELSE E.EntryId 
	END) ASC
GO
/****** Object:  StoredProcedure [dbo].[SPEntriesHistoryAdd]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SPEntriesHistoryAdd]
	@EntryId int = null
AS
INSERT INTO dbo.EntriesHistory
	(
	EntryId
	,EntryTitle
	,EntryTeaser
	,EntryContent
	,EntrySource
	,EntryContactInfo
	,UserId
	,EditDate
	,EditIp
	)
SELECT
	EntryId
	,EntryTitle
	,EntryTeaser
	,EntryContent
	,EntrySource
	,EntryContactInfo
	,UserId
	,EditDate
	,EditIp
FROM
	Entries
WHERE
	EntryId = @EntryId


GO
/****** Object:  StoredProcedure [dbo].[SPEntriesHistoryRestore]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPEntriesHistoryRestore]
	@EntryId int = 2
	,@EntryHistoryId int = 16
AS
UPDATE E
SET
	E.EntryTitle = H.EntryTitle
	,E.EntryTeaser = H.EntryTeaser
	,E.EntryContent = H.EntryContent
	,E.EntrySource = H.EntrySource
	,E.EntryContactInfo = H.EntryContactInfo
	,E.UserId = H.UserId
	,E.EditDate = H.EditDate
	,E.EditIp = H.EditIp
FROM
	Entries E
	INNER JOIN EntriesHistory H ON H.EntryId = E.EntryId
WHERE
	E.EntryId = @EntryId
	AND
	H.EntryHistoryId = @EntryHistoryId

GO
/****** Object:  StoredProcedure [dbo].[SPEntriesInsert]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [dbo].[SPEntriesInsert]
(
	@EntryTitle varchar(256)
	,@EntryTag  varchar(128)
	,@CompanyId int
	,@EntryTeaser  varchar(512)
	,@EntryContent  varchar(max) = null
	,@EntryExternalGuid varchar(1024) = null
	,@EntrySource varchar(1024) = null
	,@UserId int = null
	,@EntryContactInfo varchar(max) = null
	,@Ip varchar(15) = null
	,@EntryId int OUTPUT
	,@EntryDate datetime = '2009-01-01'
	,@EntryAllowComments bit = null
)
AS

BEGIN TRY
	BEGIN TRANSACTION 


	IF @UserId IS NOT NULL
		BEGIN
		exec dbo.SPUsersSetCountUpdates @UserId
		END

	INSERT INTO Entries
	(
		EntryTitle
		,EntryTag
		,EntryDate
		,CompanyId
		,EntryTeaser
		,EntryContent
		,EntryExternalGuid
		,EntrySource
		,UserId
		,EntryContactInfo
		,EntryIsActive
		,EditDate
		,EditIp
		,EntryOwner
		,EntryAllowComments
	)
	VALUES
	(
		@EntryTitle
		,@EntryTag
		,@EntryDate
		,@CompanyId
		,@EntryTeaser
		,@EntryContent
		,@EntryExternalGuid
		,@EntrySource
		,@UserId
		,@EntryContactInfo
		,1 --EntryIsActive
		,GETDATE()
		,@Ip
		,@UserId
		,@EntryAllowComments
	)

	COMMIT
	SET @EntryId = @@IDENTITY


END TRY
BEGIN CATCH
  IF @@TRANCOUNT > 0
     ROLLBACK

  DECLARE @ErrMsg nvarchar(4000), @ErrSeverity int
  SELECT @ErrMsg = ERROR_MESSAGE(),
         @ErrSeverity = ERROR_SEVERITY()

  RAISERROR(@ErrMsg, @ErrSeverity, 1)
END CATCH










GO
/****** Object:  StoredProcedure [dbo].[SPEntriesUpdate]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[SPEntriesUpdate]
	@EntryId int
	,@EntryTitle varchar(256)
	,@EntryTeaser varchar(512)
	,@EntryContent varchar(max)
	,@UserId int
	,@EntryContactInfo varchar(max)
	,@Ip varchar(15)
	,@EntryAllowComments bit = null
AS
BEGIN TRY
	BEGIN TRANSACTION 
	--Save history
	exec dbo.SPEntriesHistoryAdd @EntryId

	exec dbo.SPUsersSetCountUpdates @UserId

	--Update the record
	UPDATE Entries
	SET
		EntryTitle = @EntryTitle
		,EntryTeaser = @EntryTeaser
		,EntryContent = @EntryContent
		,UserId = @UserId
		,EntryContactInfo = @EntryContactInfo
		,EditDate = GETDATE()
		,EditIp = @Ip
		,EntryAllowComments = CASE WHEN @UserId=EntryOwner THEN ISNULL(@EntryAllowComments, EntryAllowComments) ELSE EntryAllowComments END
	WHERE
		EntryId = @EntryId

	COMMIT
END TRY
BEGIN CATCH
  IF @@TRANCOUNT > 0
     ROLLBACK

  DECLARE @ErrMsg nvarchar(4000), @ErrSeverity int
  SELECT @ErrMsg = ERROR_MESSAGE(),
         @ErrSeverity = ERROR_SEVERITY()

  RAISERROR(@ErrMsg, @ErrSeverity, 1)
END CATCH




GO
/****** Object:  StoredProcedure [dbo].[SPHostBlackListGetAll]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPHostBlackListGetAll]
AS
SELECT
	*
FROM
	dbo.HostBlackList

GO
/****** Object:  StoredProcedure [dbo].[SPHostBlackListInsert]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPHostBlackListInsert]
	@HostName varchar(200)
AS
IF NOT EXISTS (SELECT * FROM dbo.HostBlackList WHERE HostName = @HostName)
BEGIN 
	INSERT INTO dbo.HostBlackList (HostName) VALUES (@HostName);
END

GO
/****** Object:  StoredProcedure [dbo].[SPLogsGetLatest]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPLogsGetLatest]
AS
SELECT
	TOP 20
	*
FROM
	dbo.Logs
ORDER BY LogId DESC
GO
/****** Object:  StoredProcedure [dbo].[SPLogsInsert]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPLogsInsert]
	@LogPriority	smallint
	,@LogTitle	varchar(256)
	,@LogMessage	varchar(max)
AS
INSERT INTO dbo.Logs
(LogDate,LogPriority,LogTitle,LogMessage)
VALUES
(GETDATE(),@LogPriority,@LogTitle,@LogMessage)
GO
/****** Object:  StoredProcedure [dbo].[SPTemp]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPTemp]

AS
/*
PROMEDIOVOTOS * LOG (VISITAS) / LOG (DIFFDATE)

DIFFDATE: Diferencia entre hoy y la fecha del articulo en dias

SELECT GETDATE() + 2

*/
/*
SELECT     
	ISNULL(R.Promedio, 1) * LOG (ISNULL(T.TextoVisitas, 1) + 1) * 1 / LOG (CASE WHEN DateDiff(day, T .TextoFecha, GETDATE() + 2) > 0 THEN DateDiff(day, T .TextoFecha, GETDATE() + 2) ELSE 1 END) AS Popularity, 




	T.TextoID, T.TextoTitulo, T.TextoDescripcionCorta, T.TextoFecha, T.TextoFechaCaducidad, T.TextoImagen, T.TextoImagenChica, T.UsuarioID, T.CategoriaID, T.EstadoID, T.TextoUrl, U.UsuarioNombre, U.NivelID, UN.NivelNombre
FROM         
	dbo.Textos AS T 
	LEFT OUTER JOIN dbo.PromedioRatings AS R ON T.TextoID = R.TextoID 
	INNER JOIN dbo.Usuarios AS U ON U.UsuarioID = T.UsuarioID 
	INNER JOIN dbo.UsuariosNiveles AS UN ON U.NivelID = UN.NivelID
WHERE     (T.EstadoID < 3)

*/
GO
/****** Object:  StoredProcedure [dbo].[SPTestsGetUsers]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPTestsGetUsers]

AS
SELECT
* 
FROM
	Users
WHERE
UserActive = 1
GO
/****** Object:  StoredProcedure [dbo].[SPUsersCheckEmail]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPUsersCheckEmail]
	@UserId int
	,@UserEmail varchar(100)
AS
SELECT
	UserId
FROM
	Users
WHERE
	UserId <> @UserId
	AND
	UserEmail = @UserEmail
GO
/****** Object:  StoredProcedure [dbo].[SPUsersDelete]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPUsersDelete]
	@UserId int
AS
UPDATE U
SET
	UserActive = 0
FROM
	Users U
WHERE
	UserId = @UserId
GO
/****** Object:  StoredProcedure [dbo].[SPUsersGet]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[SPUsersGet]
	@UserId int=1
AS
SELECT
	U.UserId
	,U.UserEmail
	,U.UserPassword
	,U.UserName
	,U.UserGenderMale
	,U.UserBirthdate
	,U.CountryCode
        ,U.UserGuid
	,A.AgencyId
	,A.AgencyPremiumDate
FROM
	Users U
	LEFT JOIN Agencies A ON A.AgencyId = U.AgencyId
WHERE
	UserId = @UserId
	AND
	UserActive = 1
GO
/****** Object:  StoredProcedure [dbo].[SPUsersGetByEmailInactive]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPUsersGetByEmailInactive]

AS

SELECT
	TOP 500
	UserId
	,UserEmail
	,UserName
	,UserGuid
	,CountryCode
	,UserActive
	,AgencyId
FROM
	Users
WHERE
	UserEmailActive = 0
ORDER BY
	UserId DESC

GO
/****** Object:  StoredProcedure [dbo].[SPUsersGetByGuid]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPUsersGetByGuid]
	@UserId int
	,@UserGuid uniqueidentifier
AS

UPDATE Users
SET
	UserLastLogin = GETDATE()
WHERE
	UserId = @UserId
	AND
	UserGuid = @UserGuid
	AND
	UserActive = 1

SELECT
	UserId
	,UserEmail
	,UserName
	,UserGuid
	,UserEmailActive
	,A.AgencyId
	,U.AgencyValidated
	,A.AgencyTag
	,UserUpdates
	,CASE WHEN A.AgencyPremiumDate > GETDATE() THEN 1 ELSE 0 END AS IsPremium
FROM
	Users U
	LEFT JOIN Agencies A ON (A.AgencyId = U.AgencyId AND U.AgencyValidated = 1)
WHERE
	UserId = @UserId
	AND
	UserGuid = @UserGuid
	AND
	UserActive = 1

GO
/****** Object:  StoredProcedure [dbo].[SPUsersGetByLogin]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPUsersGetByLogin]
	@UserEmail varchar(100)
	,@UserPassword varchar(50)
AS

UPDATE Users
SET
	UserLastLogin = GETDATE()
WHERE
	UserEmail = @UserEmail
	AND
	UserPassword = @UserPassword
	AND
	UserActive = 1

SELECT
	UserId
	,UserEmail
	,UserName
	,UserGuid
	,UserEmailActive
	,A.AgencyId
	,U.AgencyValidated
	,A.AgencyTag
	,UserUpdates
	,CASE WHEN A.AgencyPremiumDate > GETDATE() THEN 1 ELSE 0 END AS IsPremium
FROM
	Users U
	LEFT JOIN Agencies A ON (A.AgencyId = U.AgencyId AND U.AgencyValidated = 1)
WHERE
	U.UserEmail = @UserEmail
	AND
	U.UserPassword = @UserPassword
	AND
	U.UserActive = 1


GO
/****** Object:  StoredProcedure [dbo].[SPUsersGetDetail]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SPUsersGetDetail]
	@UserId int=1
AS
SELECT
	UserId
	,UserName
	,UserEmail
	,UserGenderMale
	,UserBirthdate
	,CountryCode
	,UserRegisterDate
	,UserLastLogin
FROM
	Users
WHERE
	UserId = @UserId
	AND
	UserActive = 1


GO
/****** Object:  StoredProcedure [dbo].[SPUsersGetIps]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPUsersGetIps]
	@UserId int
AS
SELECT 
	DISTINCT
	*
FROM
	(
	SELECT 
		DISTINCT
		EditIp
	FROM Entries
	WHERE 
		EntryId > dbo.FXEntryIdRecent()
		AND
		UserId = @UserId
	
	UNION ALL
	
	SELECT 
		DISTINCT
		EditIp
	FROM Companies
	WHERE UserId = @UserId
	) AS Ips
	
GO
/****** Object:  StoredProcedure [dbo].[SPUsersInsert]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPUsersInsert]
	(@UserEmail varchar(100)
	,@UserPassword varchar(50)
	,@UserName varchar(50)
	,@UserGenderMale bit=null
	,@UserBirthdate datetime=null
	,@CountryCode char(2)=null
	,@UserGuid uniqueidentifier
	,@AgencyId int=null
	,@AgencyValidated bit=null
	,@UserId int output)
AS	
INSERT INTO dbo.Users

(UserEmail
,UserPassword
,UserName
,UserGenderMale
,UserBirthdate
,CountryCode
,UserGuid
,UserEmailActive
,UserActive
,AgencyId
,AgencyValidated
,UserLastLogin
,UserUpdates
,UserRegisterDate)
     VALUES
(@UserEmail
,@UserPassword
,@UserName 
,@UserGenderMale 
,@UserBirthdate 
,@CountryCode 
,@UserGuid 
,0
,1
,@AgencyId
,@AgencyValidated
,GETDATE()
,0
,GETDATE())

SET @UserId = @@IDENTITY
GO
/****** Object:  StoredProcedure [dbo].[SPUsersSetAgency]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPUsersSetAgency]
	@UserId int
	, @AgencyId int
	, @AgencyValidated bit
AS
UPDATE Users
SET
	AgencyId = @AgencyId
	,AgencyValidated = @AgencyValidated
WHERE
	UserId = @UserId

GO
/****** Object:  StoredProcedure [dbo].[SPUsersSetCountUpdates]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPUsersSetCountUpdates]
	@UserId int=1
AS
UPDATE Users
SET
	UserUpdates = UserUpdates+1
WHERE
	UserId = @UserId
	AND	
	UserUpdates >= 0
GO
/****** Object:  StoredProcedure [dbo].[SPUsersSubscriptionsDelete]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SPUsersSubscriptionsDelete]
	@UserId int
	,@CompanyId int
AS
DELETE FROM dbo.UsersSubscriptions
WHERE
UserId = @UserId
AND
CompanyId = @CompanyId





GO
/****** Object:  StoredProcedure [dbo].[SPUsersSubscriptionsGet]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPUsersSubscriptionsGet]
	@UserId int
AS
SELECT
	C.CompanyName
	,S.CompanyId
	,S.UserId
FROM
	UsersSubscriptions S
	INNER JOIN Companies C ON C.CompanyId = S.CompanyId
WHERE
	S.UserId = @UserId
ORDER BY
	C.CompanyName
GO
/****** Object:  StoredProcedure [dbo].[SPUsersSubscriptionsInsert]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SPUsersSubscriptionsInsert]
	@UserId int
	,@CompanyId int
AS
IF NOT EXISTS (SELECT * FROM UsersSubscriptions where UserId = @UserId AND CompanyId = @CompanyId) 
BEGIN
	INSERT INTO UsersSubscriptions (UserId, CompanyId)
	VALUES (@UserId, @CompanyId)
END




GO
/****** Object:  StoredProcedure [dbo].[SPUsersUpdate]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPUsersUpdate]
	@UserId int
	,@UserEmail varchar(100)
	,@UserPassword varchar(50)
	,@UserName varchar(50)
	,@UserGenderMale bit
	,@UserBirthdate datetime
	,@CountryCode char(2)
AS
UPDATE U
SET
	UserEmail = @UserEmail
	,UserPassword = @UserPassword
	,UserName = @UserName
	,UserGenderMale = @UserGenderMale
	,UserBirthdate = @UserBirthdate
	,CountryCode = @CountryCode
FROM
	Users U
WHERE
	UserId = @UserId
GO
/****** Object:  StoredProcedure [dbo].[SPUsersUpdateEmailValid]    Script Date: 2/20/2017 4:24:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SPUsersUpdateEmailValid]
	@UserId int,
	@UserGuid uniqueidentifier
AS
UPDATE Users
SET
	UserEmailActive = 1
WHERE
	UserId = @UserId
	AND
	UserGuid = @UserGUID

SELECT 
	UserId
FROM
	Users
WHERE
	UserId = @UserId
	AND
	UserGuid = @UserGUID
GO
EXEC [prsync_com_web].sys.sp_addextendedproperty @name=N'Email', @value=N'jorgebaygondra@gmail.com' 
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'UserValid = 0: Banned' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Users', @level2type=N'COLUMN',@level2name=N'UserActive'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "E"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 114
               Right = 205
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "C"
            Begin Extent = 
               Top = 6
               Left = 243
               Bottom = 114
               Right = 421
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "U"
            Begin Extent = 
               Top = 114
               Left = 38
               Bottom = 222
               Right = 198
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "A"
            Begin Extent = 
               Top = 114
               Left = 236
               Bottom = 222
               Right = 405
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'EntriesComplete'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'EntriesComplete'
GO
USE [master]
GO
