USE [prsync_com_web]
GO
/****** Object:  StoredProcedure [dbo].[SPEntriesGetSuspected]    Script Date: 3/7/2019 2:10:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SPEntriesGetSuspected]
	@EntryId int=0 -- From a certain id
	,@Descending bit=1
AS
SELECT
	*
FROM 
	EntriesComplete E
WHERE
	E.EntryId > dbo.FXEntryIdRecent()
	AND
	E.EntryId > @EntryId
	AND
	(
	E.EntryTitle LIKE '%aborto%'	
	OR
	E.EntryTitle LIKE '%abortion%'
	OR
	E.EntryTitle LIKE '%erection%'
	OR
	E.EntryTitle LIKE '%erecc%'
	OR
	E.EntryTitle LIKE '%cuck%'
	OR
	E.EntryTitle LIKE '%cock%'
	OR
	E.EntryTitle LIKE '%cum %'
	OR
	E.EntryTitle LIKE '%escort%'
	OR
	E.EntryTitle LIKE '%chicas%'
	OR
	E.EntryTitle LIKE '%girl%'
	OR
	E.EntryTitle LIKE '%boy%'
	OR
	E.EntryTitle LIKE '%sex%'
	OR
	E.EntryTitle LIKE '%porn%'
	OR
	E.EntryTitle LIKE '%porn%'
	OR
	E.EntryTitle LIKE '%drug%'
	OR
	E.EntryTitle LIKE '%droga%'
	OR
	E.EntryTitle LIKE '%webcam%'
	OR
	E.EntryTitle LIKE '%nude%'
	OR
	E.EntryTitle LIKE '%babe%'
	OR
	E.EntryTitle LIKE '%torrent%'
	OR
	E.EntryTitle LIKE '%watch%'
	)
ORDER BY 
	(CASE 
		WHEN @Descending=1 THEN E.EntryId*1
		ELSE E.EntryId 
	END) ASC