<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CompanyFeeds.DataAccess.Properties.Settings.CompanyFeedsConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=CompanyFeeds;Persist Security Info=True;User ID=sa;Password=12345678"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>