<div style="font-family:arial,helvetica;font-size:12px;color:#333333;">
	<h3>Hi <!--!Name!--></h3>
	<p>There is a new comment at <a href="<!--!Url!-->"><!--!EntryTitle!--></a>.</p>
	<p>To see the comment go to: <a href="<!--!Url!-->"><!--!Url!--></a>.</p>
	<br />
	<p>
		Best regards,<br />
		prsync team.
	</p>
	<br />
	<hr />
	<p><em>If you don't want to receive emails from this thread, just click on the following link: <a href="<!--!UnsubscribeUrl!-->"><!--!UnsubscribeUrl!--></a></em></p>
</div>
